<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #007bff;
            color: white;
            padding: 20px;
            text-align: center;
        }
        main {
            padding: 20px;
            max-width: 800px;
            margin: 0 auto;
        }
        section {
            margin-bottom: 30px;
            padding: 20px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        section h2 {
            color: #007bff;
            margin-bottom: 10px;
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding-bottom: 20px;
            padding-top: 20px;
            width: 100%;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1em;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .button:hover {
            background-color: #0056b3;
        }

        img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Välkommen till min server!</h1>
    </header>
    <main>
        <section>
            <h2>Add, Sub, Mul and Div</h2>
            <a href="/add/2/1" class="button">Add 2+1</a>
            <a href="/sub/2/1" class="button">Subtract 2-1</a>
            <a href="/mul/10/5" class="button">Multiplication 10*5</a>
            <a href="/div/10/5" class="button">Division 10/5</a>
        </section>
        <section>
            <ul>
                <a href="/fruits/new" class="button">Lägg till Ny frukt</a>
          
                <h3>Frukter i listan:</h3>
                <ul>
                    <% $fruits.each do |fruit| %>
                        <li><%= fruit %>    
                            <form action="/fruits/delete" method="POST">
                            <input type="hidden" name="fruit" value="<%= fruit %>"/>
                            <button type="submit">Ta bort</button>
                            </form>
                        </li>
                    <% end %>
                </ul>
            </ul>
        </section>
        <section> 
            <h3>Bilder:</h3>
            <img src="https://images.unsplash.com/photo-1737749309296-4aacdefecdae?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
            <img src="https://images.unsplash.com/photo-1734899749017-9e05036a7aeb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzOHx8fGVufDB8fHx8fA%3D%3D" />
        </section>
        <section>
            <a href="/files/pic1.png" class="button">Pic 1</a>
            <a href="/files/pic2.png" class="button">Pic 2</a>
            <a href="/files/pit.png" class="button">Pic 3</a>
            <a href="/files/jake.gif" class="button">Gif 1</a>
        </section>
        <section>
            <a href="/" class="button">Ladda om</a> 
            <a href="/login" class="button">Logga ut</a>
        </section>
    </main>
</body>
</html>
