<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Added</title>
</head>
<body>
    <h1>New Fruit Added: #{@new_fruit}</h1>
    <a href="/">Go Back to Fruit Page</a>
</body>
</html>